*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}


header{
    width: 100%;
    height: 85px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

#log{
    width: 100px;
    height: 100px;
    margin-left: -200px;
    margin-top: -30px;
    position: absolute;
}
 nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 30px;
    
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

nav ul :hover{
    color: green;
}
#viw{
height: 750px;
margin-top: -270px;
width: 110%;
margin-left: -50px;
opacity: 0.70;
}

#eslo{
    position: absolute;
    margin-top: 200px;
}
#firma{
    color: white;
    display: flex;
    justify-content:flex-start;
    margin-top: 270px;
    margin-left: 40px;
    font-size: 30PX;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

#bot1{
    width: 190px;
    height: 60px;
    background-color: brown;
    border-radius: 8%;
    color: white;
    margin-top: 70px;
    margin-left: 590px;
    border: solid rgb(163, 128, 128);
    font-size: 20px;
    

}

#sectionn{
    width: 100%;
    height: 500px;
    margin-top: -50px; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

#produ{
    color: white;
    margin-top: 80px;
    font-size: 50px;
}

#text{
    font-size: 20px;
    color: white;
    margin-top: 10px;
}
#imagenes-1{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#titulos{
    position: absolute;
    margin-left: -1000px;
    margin-top: 30px;
    color: white;
}
#titulo2{
    position: absolute;
    margin-left: -340px;
    margin-top: 30px;
    color: white;
}
#titulo3{
    position: absolute;
    margin-left: 340px;
    margin-top: 30px;
    color: white;
}
#titulo4{
    position: absolute;
    margin-left: 990px;
    margin-top: 30px;
    color: white;
}

#p1{
    margin-top: -260px;
    font-size: 20px;
    margin-left: 10px;
    color: white;
}
#p2{
    margin-top: -260px;
    font-size: 20px;
    margin-left: 10px;
    color: white;
}
#pe3{
    margin-top: -260px;
    font-size: 20px;
    margin-left: 10px;
    color: white;
}

#p4{
    margin-top: -260px;
    font-size: 20px;
    margin-left: 10px;
    color: white;
}
.ima-1{
    width: 300px;
    height: 170px;
    background-color: rgb(224, 215, 220);
    margin-top: 100px;
    border-radius: 5%;
    transition: all 0.3s ease;
}
.ima-1:hover{
  transform: scale(1.05);
  background: black;
}
#conocenos{
    position: absolute;
    margin-top: 80px;
    color: white;
    font-size: 110px;
    margin-left: 30px
}
#setion2{
    width: 100%;
    height: 500px;
    margin-top: 170px;
}

#fune{
    width: 400px;
    height: 400px;
    margin-top: 60px;
    margin-left: 30px;
    border-radius: 4%;
}
#servi{
    position: absolute;
     width: 300px;
    height: 300px;
    margin-top: -300px;
    margin-left: 300px;
    border-radius: 4%;
}

#sobre{
    width: 500px;
    height: 400px;
    border: solid black;
    margin-left: 700px;
    margin-top: -400px;
    border-radius: 4%;
}
#tit-sobre{
    font-size: 50px;
    color: white;
    margin-left: 20px;
}
#tex-sobre{
    font-size: 26px;
    margin-top: 10px;
    margin-left: 20px;
    
}

.titulo-seccion {
  position: absolute;
    margin-top: 0px;
    color: white;
    font-size: 110px;
    margin-left: 30px
}
.servicios {
        width: 100%;
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 150px;
}

.servicio {
    width: 400px;
    height: 180px;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.servicio:hover {
  transform: translateY(-5px);
}

.p-servicio{
    margin-top: 10px;
    font-size: 18px;
}
footer {
    width: 100%;
    background-color: rgb(2, 2, 39);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    
}
.caja-footer1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 220px;
    height: 360px;
}
.caja-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 220px;
    height: 330px;
    background-color: transparent;
    position: relative;
    top: 70px;
    left: 40px;
}
#logo2 {
    position: relative;
    right: 70px;
    width: 400px;
    height: 400px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.icono {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.footer-inferior {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
#p3{
    position: relative;
    left: 20px;
    font-size: 15px;
    color: white;
}
.footer-inferior p {
    font-size: 12px;
    color: white;
}
.enlaces-inferiores {
    display: flex;
    gap: 10px;
    position: relative;
    right:30px;
}

h4{
    color: white;
}


.hamburger {
    display: none;
    font-size: 40px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}




@media (max-width: 850px) {

    body {
        overflow-x: hidden;
    }

    
    header {
        height: 70px;
        justify-content: flex-start;
        padding-left: 20px;
        position: relative;
    }

    nav ul.menu {
        display: none;
        flex-direction: column;
        background: rgb(224, 215, 220);
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        padding: 20px 0;
        text-align: center;
        gap: 25px;
        z-index: 10;
    }

    nav ul.menu.active {
        display: flex;
    }

    nav a{

        color: black;
    }
    .hamburger {
        display: block;
        font-size: 40px;
        color: black;
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 15px;
    }

        #viw{
height: 750px;
margin-top: -130px;
width: 120%;
margin-left: -50px;
opacity: 0.70;
}


#eslo{
    position: absolute;
    margin-top: 200px;
}

  

    #firma {
        margin-top: 130px;
        font-size: 20px;
        margin-left: 20px;
        width: 90%;
    }

    #bot1 {
        margin-left: 100px;
        margin-top: 50px;
        width: 160px;
        height: 50px;
        font-size: 18px;
    }

  
    #sectionn {
        height: auto;
        padding-bottom: 50px;
    }

    #produ {
        font-size: 35px;
        text-align: center;
    }

    #text {
        width: 90%;
        text-align: center;
        font-size: 16px;
    }

    #imagenes-1 {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-top: 20px;
    }

    #titulos, #titulo2, #titulo3, #titulo4 {
        position: static;
        text-align: center;
        margin: 0;
        margin-bottom: -20px;
    }

    #titulos{
        position: absolute;
        margin-top: -2100px;
    }

      #titulo2{
        position: absolute;
        margin-top: -1050px;
    }

      #titulo3{
        position: absolute;
        margin-top: 150px;
    }

      #titulo4{
        position: absolute;
        margin-top: 1200px;
    }
    .ima-1 {
        width: 100%;
        height: auto;
       
    }
 

    #p1, #p2, #pe3, #p4 {
        position: static;
        margin: 10px auto;
        text-align: center;
        width: 90%;
    }

   
    #conocenos {
        position: relative;
        margin-top: 50px;
        font-size: 40px;
        margin-left: 20px;
    }

    #setion2 {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    #fune, #servi {
        width: 90%;
        height: auto;
        margin-left: 20px;
        position: static;
    }

    #sobre {
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding: 20px;
    }

    #tit-sobre {
        font-size: 35px;
        text-align: center;
        margin: 0;
    }

    #tex-sobre {
        font-size: 18px;
        text-align: justify;
        margin-top: 15px;
    }


    .titulo-seccion {
        position: static;
        font-size: 40px;
        margin: 20px auto;
        text-align: center;
        margin-top: 100px;
    }

    .servicios {
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
    }

    .servicio {
        width: 90%;
        height: auto;
    }

    
    footer {
        margin-top: 100px;
        flex-direction: column;
        padding-top: 40px;
        gap: 20px;
    }

    a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

    h4{
        font-size: 30px;
    }
    .caja-footer, .caja-footer1 {
        width: 90%;
        height: auto;
        left: 0;
        top: 0;
        gap: 10px;
    }

    .redes {
        justify-content: center;
    }

    .footer-inferior {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
        gap: 10px;
        text-align: center;
    }

    #p3 {
        position: static;
    }

    .enlaces-inferiores {
        justify-content: center;
        position: static;
    }
}



